<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zero.animationdemo">

    <application android:theme="@style/AppTheme">
        <activity android:name="com.zero.animationdemo.AnimMainActivity" />
        <activity android:name="com.zero.animationdemo.SimpleViewAnimation" />
        <activity android:name="com.zero.animationdemo.SimplePropertyAnimation" />
        <activity android:name="com.zero.animationdemo.ComplicateViewAnimation" />
        <activity android:name="com.zero.animationdemo.ComplicatePropertyAnimation" />
        <activity android:name="com.zero.animationdemo.InterPolatorAnimation" />
    </application>
</manifest>